@model NCIT_MIS.ViewModel.INV_Sales

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="layout-content-body container">
    <div class="title-bar" style="margin-bottom: 20px;">
        <div class="col-xs-10">  <h1 class="title-bar-title">Inventory Sales List</h1> </div>
        <a class="btn btn-success col-xs-2 " href="@Url.Action("Create", "INV_Sales")">Create</a>

    </div>
    <div class="row no-gutters">
        <div class="col-xs-12  ">
            <div class="card" style="margin-top: 30px;">
                <div class="card-header">
                    <div class="card-actions">
                        <button type="button" class="card-action card-toggler" title="Collapse"></button>
                        <button type="button" class="card-action card-reload" title="Reload"></button>
                        <!-- <button type="button" class="card-action card-remove" title="Remove"></button> -->
                    </div>
                </div>
                
                <div class="card-body">
                    <button id="btnExport" class="btn btn-success col-xs-1 " onclick="fnExcelReport();"> EXCEL </button>
                    <table id="demo-datatables-1" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Bill S.N.</th>
                                <th>
                                    BillNo
                                </th>
                                <th>
                                    Bill Date
                                </th>
                                <th>Vendor</th>
                                <th class="nosort">Item</th>
                                <th class="nosort shiftToRight">Rate</th>
                                <th class="nosort shiftToRight">Quantity</th>
                                <th class="nosort shiftToRight">Amount</th>
                                <th class="shiftToRight">Total Amount</th>
                                @*<td hidden="hidden">Entered Date</td>*@
                                <th class="nosort">Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Bill S.N.</th>
                                <th>
                                    BillNo
                                </th>
                                <th>
                                    Bill Date
                                </th>
                                <th>Vendor</th>
                                <th class="nosort">Item</th>
                                <th class="nosort shiftToRight">Rate</th>
                                <th class="nosort shiftToRight">Quantity</th>
                                <th class="nosort shiftToRight">Amount</th>
                                <th class="shiftToRight">Total Amount</th>

                                <th class="nosort">Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @{
                                decimal amt = 0;

                            }
                            @foreach (var item in Model.INV_SalesBillList)
                            {
                                int count = item.InventorySalesItemByBillSalesIdList.Count;
                                int onetime = 1;

                                foreach (var item1 in item.InventorySalesItemByBillSalesIdList)
                                {
                                    <tr>

                                        @if (onetime == 1)
                                        {
                                            <td rowspan="@count">@Html.DisplayFor(modelItem => item.BillSerialNo)</td>
                                            <td rowspan="@count">@Html.DisplayFor(modelItem => item.BillNo)</td>
                                            <td rowspan="@count">
                                                @Html.DisplayFor(modelItem => item.BillDateBS) <br />
                                                @((item.BillDate))
                                            </td>
                                            <td rowspan="@count">
                                                @Html.DisplayFor(modelItem => item.VendorName)
                                            </td>
                                        }

                                        <td>@Html.DisplayFor(modelItem => item1.ItemName)</td>
                                        <td class="shiftToRight">@Html.DisplayFor(modelItem => item1.Rate)</td>
                                        <td class="shiftToRight">@Html.DisplayFor(modelItem => item1.SalesQuantity)</td>
                                        <td class="shiftToRight">@Html.DisplayFor(modelItem => item1.Total)</td>

                                        @if (onetime == 1)
                                        {
                                            <td rowspan="@count" class="shiftToRight">
                                                @Html.DisplayFor(modelItem => item.TotalWithVat)
                                            </td>
                                            @*<td hidden="hidden">@Html.DisplayFor(modelItem => item.EnteredDate)</td>*@
                                            <td rowspan="@count">
                                                @Html.ActionLink(" ", "Edit", new { id = item.SaleseBillId }, new { @class = "fa fa-pencil text-primary", title = "Edit" }) |
                                                @Html.ActionLink(" ", "Details", new { id = item.SalesBillId }, new { @class = "fa fa-list text-success", title = "Details" }) |
                                                @Html.ActionLink(" ", "Delete", new { id = item.SalesBillId }, new { @class = "fa fa-trash-o text-danger", title = "Delete", onclick = "return confirm('Are you sure to Delete?')" })
                                            </td>
                                            amt += item.TotalWithVat == null ? 0 : (Decimal)item.TotalWithVat;
                                        }
                                    </tr>
                                    //amt += item.total == null ? 0 : (Decimal)item.TotalWithVat;
                                    //i++;
                                    onetime++;

                                }


                            }
                        </tbody>
                        <troot>
                            <tr>
                                <td colspan="7"></td>
                                <th><strong>Total Amount: </strong></th>
                                <th class="shiftToRight">@amt</th>
                                <th></th>
                            </tr>

                        </troot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function fnExcelReport() {
        var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
        var textRange; var j = 0;
        tab = document.getElementById('demo-datatables-1'); // id of table

        for (j = 0; j < tab.rows.length; j++) {
            tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            //tab_text=tab_text+"</tr>";
        }

        tab_text = tab_text + "</table>";
        tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
        tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html", "replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
        }
        else                 //other browser not tested on IE 11
            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

        return (sa);
    }
</script>